<div class="country-card" data-id="<%= alpha2Code %>">
  <span class="code">
    <span><%= alpha3Code %></span>
  </span>
  <span class="details">
    <span class="name"><%= name %></span>
    <span>Currency: <%= currency %></span>
    <span>Population: <%= population %></span>
    <span>Languages: <%= languages %></span>
  </span>
  <span class="map-it-button">
    <button class="btn btn-xs btn-info map-it" data-id="<%= alpha2Code %>">
      Map It</button>
  </span>
</div>
